<!DOCTYPE html>
<html>

    <head>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        
        <title>FitFoot </title>
        <link id="theme-css" rel="stylesheet" type="text/css" href="../theme/theme-blue.css">
        <link id="layout-css" rel="stylesheet" type="text/css" href="../layout/css/layout-blue.css">
        <link rel="stylesheet" type="text/css" href="primeng.min.css">
    </head>

    <body class="landing-body">
        <div class="landing-wrapper">
            <div id="home" class="landing-header">
                <div class="landing-topbar">
                    <span>FITFOOT</span>
                    <!--<img src="../layout/images/landing/logo.PNG">-->

                    <a href="#" id="landing-menu-button">
                        <img src="../assets/layout/images/landing/icon-ellipsis-v.svg">
                    </a>

                    <ul id="landing-menu">
                        <li><a (click)="goDown()">Home</a></li>
                        <li><a (click)="goDown1()">Nos Services</a></li>
                        <li><a (click)="goDown2()">Secteurs d'activité</a></li>
                        <li><a (click)="goDown3()">Notre Groupe</a></li>
                        <li><a (click)="goDown4()">Notre expertise</a></li>
                    </ul>
                </div>

                <div class="landing-header-content" id="Home">
                    <h1>Rejoignez notre réseau de FootBall FitFoot</h1>
                    <p>ALLONS-Y FAITES VOTRE RESERVATION</p>
                    <button (click)="navigateToLogin()" style="background-color:#005F40;border:none;color:white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);border-radius: 25px;">Rejoignez-nous</button>
                    
                </div>
            </div>

            <div id="features" class="landing-features">
                <div class="features-topic-shadow">
                    <div class="features-topic" id="NosServices">Nos Services</div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-lg-4">
                        <div class="feature-box">
                            <img src="../assets/layout/images/landing/booking.png"/>
                            <div>
                                <h3>Booking</h3>
                                <p>Chercher l'équipe et le terrain convenable à votre demande.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-g-12 p-lg-4">
                        <div class="feature-box">
                            <img src="../assets/layout/images/landing/annonce.png" alt="yyy"/>
                            <div>
                                <h3>Annonce</h3>
                                <p>Lancer une offre pour regrouper une équipe dans un lieu et temps spécifique.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <div class="feature-box">
                            <img src="../assets/layout/images/landing/equipe.png"/>
                            <div>
                                <h3>Equipe</h3>
                                <p>Regroupement des membres d'équipe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <div class="feature-box">
                            <img src="../assets/layout/images/landing/plannig.png"/>
                            <div>
                                <h3>Planning</h3>
                                <p>Planification et organisation des match.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <div class="feature-box">
                            <img src="../assets/layout/images/landing/terrain.png" alt="hhhhhhh"/>
                            <div>
                                <h3>Terrain</h3>
                                <p>Location des terrains selon votre localisation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <div class="feature-box">
                            <img src="../assets/layout/images/landing/paiement.png"/>
                            <div>
                                <h3>Paiement</h3>
                                <p>Paiement à l'avance en toute sécurité.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="news" class="landing-news" id="Secteursactivite">
                <h3>FitFoot</h3>
                <h5>Bonne nouvelle aux fans de football qui sont passionnés par le jeu et aiment toujours être en contact direct avec les matchs organisés.
                    Vous êtes les bienvenus à notre application FitFoot, vous pourrez désormais profiter de toutes ces fonctionnalités 
                    sur l'écran de votre écran.
                    Vous disposez d'un accès facile aux équipes organisées, terrains proposés, 
                    annonce publiée, paiement en ligne...</h5>


            </div>

            <div id="pricing" class="landing-pricing" >
                <div class="pricing-topic-shadow">
                    <div class="pricing-topic">Notre Groupe</div>
                </div>
                <h3 style="text-align: center;">Plongez dans le monde du football.<br>Rejoignez FitFoot !</h3>
                <div class="p-grid">
                    <div class="p-col-12 p-lg-4">
                        <div class="pricing-box">
                            <div class="pricing-box-header">
                                    <img alt="Card" src="../assets/layout/images/loginpic.jpg" style="height: 180px;width: 140px;">
                                <p>Nous couvrons la gestion des équipes et les compétitions organisées.</p>
                            </div>
                            <div class="pricing-box-content">
                                <ul>
                                    <li>TOUTES LES ÉQUIPES ET LES COMPÉTITIONS</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <div class="pricing-box">
                            <div class="pricing-box-header">
                                <img alt="Card" src="../assets/layout/images/landing/terrain2.jpg" style="height: 180px;width: 140px;">
                                <p>Notre application englobe toutes les fonctionnalités que vous avez besoin.</p>
                            </div>
                            <div class="pricing-box-content">
                                <ul>
                                    <li>TOUT LE FOOT DANS UNE SEULE APP</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <div class="pricing-box">
                            <div class="pricing-box-header">
                                <img alt="Card" src="../assets/layout/images/landing/foot.jpg" style="height: 180px;width: 140px;">
                                <p>Nous catalogue compte à mettre à votre disposition toutes les réservations et annonces.</p>
                            </div>
                            <div class="pricing-box-content">
                                <ul>
                                    <li>TOUTES LES RESERVATIONS ET ANNONCES</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="multimedia" class="landing-multimedia" >
                <div class="multimedia-topic-shadow">
                    <div class="multimedia-topic">Notre expertise</div>
                </div>
                <h3 style="text-align: center;">FitFoot en chiffres</h3>
                <img alt="Card" src="../assets/layout/images/landing/statistiques.PNG" >
                
            </div>

            <div class="landing-footer">
                <div class="p-grid">
                    <div class="p-col-12 p-lg-3">
                            <!--<img src="../layout/images/logo-roma-white.svg"/>-->
                            <img src="../assets/layout/images/logo6.PNG" style="height: 90px;width: 90px;"/>
                    </div>

                    <div class="p-col-12 p-lg-3">
                        <h4>CONTACTEZ-NOUS</h4>
                        <ul>
                            <li><a href="#">+212.12.34.56.78</a></li>
                            <li><a href="#">fitfoot@gmail.com</a></li>
                            <li><a href="#">05 lot bouizgaren, Rte de Safi, Marrakech 40000</a></li>
                            
                        </ul>
                    </div>

                </div>

            </div>
        </div>
        
    </body>
    <link id="prime-flex" rel="stylesheet" type="text/css" href="primeflex.css">
</html>
